* {
    color: black;
}

body {
    background-color: darkorange;
    background-image: url("images/background.jpg")
}

#title {
    font-size: 70px;
    text-align: center;
}

p {
    font-size: 1.5em;
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 200px;
}

h1, h2 {
    background-color: indianred;
}

div {
    background-color: goldenrod;
}

#content {
    background-color: blue;    
}

.quotation {
    background-color: aquamarine;
}