body {
    background-color: darkorange;
}

#title {
    font-size: 70px;
    text-align: center;
}

h1, h2 {
    background-color: indianred;
}

div {
    background-color: goldenrod;
}

#content {
    background-color: blue;    
}

.quotation {
    background-color: aquamarine;
}